<body class="list-body">
<table class="main-table" style="height: 80%">
  <tr class="tap-numbers">
    <% @taps.each do |tap| %>
      <td class="tap-number" style="width: <%= 100 / @taps.length %>%">
        Tap <%= tap.tap_number %>
      </td>
    <% end %>
  </tr>
  <tr class="beer-info border">
    <% @taps.each do |tap| %>
      <td class="border beer-name"><%= tap.beer.name %></td>
    <% end %>
  </tr>
  <tr class="beer-info border">
    <% @taps.each do |tap| %>
      <td class="border">
	<div class="brewer"><%= tap.beer.brewer %></div>
	<div class="beer-style"><%= tap.beer.style %></div>
      </td>
    <% end %>
  </tr>
  <tr>
    <% @taps.each do |tap| %>
      <td class="border"><table class="filled"><tr>
	<% if tap.beer.ibu %>
	  <td class="ibu">
	    <div class="stats-text">IBU: <%= tap.beer.ibu %></div>
	    <div class="ibu-container">
	      <div class="ibu-indicator"/>
	      <div class="ibu-full" style="height: <%= tap.beer.ibu %>%"/>
	    </div>
	  </td>
	  <td class="srm">
	    <div class="stats-text">SRM: <%= tap.beer.srm %></div>
	    <div class="srm-container">
	      <div class="srm-indicator" style="background-color: rgb(<%= srm2rgb(tap.beer.srm).join(',') %>)"></div>
	      <div class="srm-stroke"/>
	    </div>
	  </td>
        <% end %>
      </tr></table></td>
    <% end %>  
  </tr>
  <tr>
    <% @taps.each do |tap| %>
      <td class="border">
	<% if tap.beer.abv %>
	  <div class="stats-text">ABV: <%= tap.beer.abv %>%</div>
	  <table class="filled"><tr>
	    <% abv = tap.beer.abv; while abv > 0 %>
	      <td>
	        <div class="abv-container">
		  <div class="abv-indicator"/>
		  <div class="abv-full" style="height: <%= (abv > 5 ? 5 : abv) * 100 / 5.0 %>%"/>
		</div>
	      </td>
	    <% abv -= 5; end %>
	  </tr></table></td>
        <% end %>
      </td>
    <% end %>
  </tr>
</table>
<table class="temperatures">
  <tr>
    <td class="temperature-text">Keezer: <%= keezer_temperature %>, Tower <%= tower_temperature %></td>
    <td class="temperature-text">Fermenter [@ <%= target_temperature %>]: <%= chamber_temperature %>, Wort <%= wort_temperature %></td>
  </tr>
  <tr>
    <td class="date" colspan="2"><%= Time.now.strftime("%d/%m/%Y %H:%M:%S") %></td>
  </tr>
</table>
</body>
