<h1>Edit Beer</h1>

<%= form_for :beer, url: beer_path(@beer), method: :patch do |f| %>
  <table>
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :brewer %></td>
      <td><%= f.text_field :brewer %></td>
    </tr>
    <tr>
      <td><%= f.label :style %></td>
      <td><%= f.text_field :style %></td>
    </tr>
    <tr>
      <td><%= f.label :ibu %></td>
      <td><%= f.number_field :ibu, :step => 0.1 %></td>
    </tr>
    <tr>
      <td><%= f.label :srm %></td>
      <td><%= f.number_field :srm, :step => 0.1 %></td>
    </tr>
    <tr>
      <td><%= f.label :abv %></td>
      <td><%= f.number_field :abv, :step => 0.1 %></td>
    </tr>
    <tr>
      <td/>
      <td><%= f.submit %> </td>
    </tr>
  </table>
<% end %>

