<table style="border-collapse: collapse">
  <tr>
    <td style="border: 3px white solid">Name</td>
    <td style="border: 3px white solid">Brewer</td>
  </tr>
  <% @beers.each do |beer| %>
    <tr>
      <td style="border: 1px white solid"><%= beer.name %></td>
      <td style="border: 1px white solid"><%= beer.brewer %></td>
      <td><%= link_to 'edit', edit_beer_path(beer) %></td>
      <td><%= link_to 'delete', beer_path(beer), method: :delete %></td>
    </tr>
  <% end %>
  <tr>
  <td><%= link_to 'New beer', new_beer_path %>
</table>
