<table>
  <tr><td>Name</td><td><%= @beer.name %></td></tr>
  <tr><td>Brewer</td><td><%= @beer.brewer %></td></tr>
  <tr><td>Style</td><td><%= @beer.style %></td></tr>
  <tr><td>IBU</td><td><%= @beer.ibu %></td></tr>
  <tr><td>SRM</td><td><%= @beer.srm %></td></tr>
  <tr><td>ABV</td><td><%= @beer.abv %></td></tr>
</table>
